# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse

recursive-exclude __pycache__  *.py[cod] *.orig

# Include the README
include *.md
recursive-include src/fuse_augmentations *.md

# Include the license file
include LICENSE

# Include scripts
recursive-include scripts *.py

# Exclude build configs
exclude *.yml
exclude *.yaml

prune .git
prune .github
prune temp*
prune test*
prune docs*
