# Manifest syntax https://packaging.python.org/en/latest/guides/using-manifest-in/
recursive-exclude __pycache__  *.py[cod] *.orig

# Include the README
include *.md
recursive-include src/fuse_augmentations *.md

# Include the license file
include LICENSE

# Exclude build configs
exclude *.yml
exclude *.yaml

prune .git
prune .github
prune temp*
prune test*
prune docs*
prune examples*
prune experiments*
